HOST_SETTINGS = {

    ANDROID = {

        -- HINT: every param can be overriden from within GOOGLEPLAY/AMAZON
        APP_NAME             = 'Moai Sample',
        PROJECT_NAME         = 'MoaiSample',
        PACKAGE_NAME         = 'com.ziplinegames.moaisample',
        DEFAULT_ORIENTATION  = '< landscape|portrait >',
        LUA_MAIN_DIR         = '< path to lua sources >',

        ICONS = {
            hdpi = '< path to 72px png >',
            ldpi = '< path to 36px png >',
            mdpi = '< path to 48px png >',
            xhdpi = '< path to 36px png >',
            xxhdpi = '< path to 144px png >',
        },

        GOOGLEPLAY = {

            APP_NAME     = 'Moai Sample: Summer Edition'
            VERSION_CODE = '1',
            VERSION_NAME = '1.0',

            GOOGLE_PLAY_APP_ID  = '< YOUR GOOGLE PLAY SERVICES APP ID >',
            REVMOB_APP_ID       = '< YOUR REVMOB MEDIA ID >',

            MODULES = {
                'adcolony',
                'admob',
                'google_billing',
                'chartboost',
                'heyzap',
                'revmob',
                'startapp',
                'vungle',
            },

            KEYSTORE_NAME = 'moaisample.keystore',
            KEYSTORE_ALIAS = 'moaisample',
            KEYSTORE_PASSWORD = '',
            KEYSTORE_ALIAS_PASSWORD = '',
        },

        AMAZON = {

            VERSION_CODE = '1',
            VERSION_NAME = '1.0',

            GOOGLE_PLAY_APP_ID  = '', -- unused
            REVMOB_APP_ID       = '< YOUR REVMOB MEDIA ID >',

            MODULES = {
                'adcolony',
                'admob',
                'google_billing',
                'google_play_services',
                'chartboost',
                'heyzap',
                'revmob',
                'startapp',
                'vungle',
            },
        },
    },

    IOS = {

    },
}
